.main-page {
  .primary-head {
    width: 100%;
    height: 250px;
    background-image: url("../assets/backgrounds/desktop-background.jpg");
    background-size: cover;
    background-position: center;
  }
  .index-content {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 100px;
    width: 100%;
    height: 800px;
    @include test-element();
    margin-top: -170px;
    .primary-nav {
      width: 380px;
      height: 100%;
      @include test-element();
      margin-right: 45px;
    }
    .primary-content {
      flex-grow: 1;
      height: 100%;
      @include test-element();
    }
  }
}
